# Adivery Ads Configuration
# Official Test Credentials (https://docs.adivery.com/testing)
VITE_ADIVERY_APP_ID=7e27fb38-5aff-473a-998f-437b89426f66
VITE_ADIVERY_REWARDED_PLACEMENT_ID=3f97dc4d-3e09-4024-acaf-931862c03ba8
